/* Dropdown Button */
.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1
}

.dropdown-content a,
.dropdown-content li {
    display: block;
    width: 100%
}

.dropdown-content a {
    color: #747474;
    line-height: 120%;
    padding: 12px 16px ;
    text-decoration: none;
    display: block
}

.dropdown:hover .dropdown-content a:hover {
    background-color: #f6f8f8
}

.dropdown:hover .dropdown-content {
    display: block
}

.logo-docplanner {
    width: 268px;
    height: 33px
}







.section {
    width: 100%
}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative
}
.section__inner:after,
.section__inner:before {
    content: "";
    display: table
}
.section__inner:after {
    clear: both
}
.main-menu .is-current,
.main-menu .is-current a {
    color: #00b39b
}

.main-nav {
    position: relative;
    float: right
     
}
.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0
}

.main-menu a {
    color: #ababab;
    display: block;
    text-decoration: none;
    padding: 0 .6em
}

.main-menu a:hover {
    color: #00b39b
}

.main-menu li {
    display: inline-block
}

